.stat-container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: relative;
}

.stat-container.right-arrow:after,
.stat-container.right-arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.stat-container.right-arrow:after {
  @apply border-l-cyan-600;
  border-width: 30px;
  margin-top: -30px;
}
.stat-container.right-arrow:before {
  border-left-color: black;
  border-width: 36px;
  margin-top: -36px;
}
